html, body, .header{ height: 100%;
    font-family: 'Roboto', sans-serif;
}
.header{ background-image: url(../images/wallpaper.png);
    -webkit-box-sizing: border-box;
    background-size: cover;
    text-align: center;
    padding-top: 12%;
}
header{ padding: 20px;
    background-color: rgba(107, 186, 167, 0.8);
}
header h1{ margin: 30px 0;
    font-size: 8em;
    color: white;
    font-family: 'Fredericka the Great', cursive
}
header .subtitle{ display: block;
    color: white;
    font-size: 2em;
}
header a{ display: block;
    margin-top: 60px;
    font-size: 5em;
    animation: pulse 3s infinite;
}

@keyframes pulse {
  0%{ color: rgba(255, 255, 255, 0.3); }
  50%{ color: rgba(255, 255, 255, 0.7); }
  100%{ color: rgba(255, 255, 255, 0.3); }
}